.container {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.maxW {
  max-width: 300px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.btn {
  padding: 10px;
  background-color: rgb(251, 251, 251);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 10px;
}

.input {
  padding: 10px;
}
